/*Pink, Black & withe
pink #EECABF
lil brigther pink ##E9BFC9*/


/*Pink, Yellow, aqua, black
pink #F2CDDE
yellow #FCEDC4
ligth gray #D7D7D7
ACENTOS aqua #0DE7CD*/

.rosa {
    background-color: #E9BFC9;
}
/*Side Nav*/
#mobile-demo{
    height: 100vh;
}
.fondo-side{
    height: 60vh;
}
.background{
    background-image: url(../assets/artem-sapegin-176819.jpg);
    height: 60vh;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

/*Header*/
header {
    height: 100vh;
    background-image: url(../assets/mikayla-mallek-219946.jpg);
    background-size: cover;
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
    align-items: flex-end;
}
#logo {
    margin-bottom: 30vh;
}
#nav-home {
    position: absolute;
    margin-top: -10vh;
    font-size: 7em;
}
#btn-contacto-nav {
   margin-bottom: 85vh;
    margin-left: 70vw;
}


/*About me*/
#bio {
    padding-right: 5%;
}
#btn-rena{
    width: 55vh;
}

/*Skills*/
#skills{
    padding: 5vh 3vh;
    margin-top: 3vh;
}
#skills-cont {
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
}
.skill-icon:hover {
    cursor: pointer
}

/*proyectos*/
.cards {
    padding: 3%;
}

/*slider*/
.carousel .carousel-item{
    width: 35vw;   
}
.devicon{
    font-size: 9em;
    color: #000;
    padding: 10vh;
}
#dev, #agil, #ux{
    padding: 10vh;
}
#carousel-eva{
    height: 150vh;
}
#eva-slide .carousel, #eva-slide .carousel .carousel-item{
    height: 85vh;
}
#carousel-yape{
    height: 150vh;
}
#yape-slide .carousel, #yape-slide .carousel .carousel-item{
    height: 85vh;
}